node_modules/
dist/
dist-ssr/
build/
.env
.env.local
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.tsbuildinfo
coverage/
.vscode/*
!.vscode/extensions.json
*.pem
.idea/
playwright-report/
test-results/
